{% extends "base.html" %}

{% block body%}
    <div class="component mt-2 mx-5 pt-2 px-5">
        <div class="text-center">
            <h2>{{ event.description }}</h2>
        </div>
        {% if rewards %}
            <div class="card text-center mb-2">
                <div class="card-header">
                    Fight Awards
                </div>
                <div class="card-body">
                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
                        {% for reward in rewards %}
                            <div class="carousel-inner">
                                <div class="carousel-item {% if loop.first %} active {% endif %}">
                                    <h5 class="">{{ reward.type.capitalize() }} of the Night</h5>
                                    <div class="award-winner fw-bold">{{ reward.winner_fighter}}</div>
                                    <div class="award-fight small mb-3">#{{ reward.fight_number }} {{ reward.fighters }}</div>
                                    <div class="award-round fw-thin fst-italic"> Round {{ reward.round }} {{ reward.time }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="sortable-container">
            {% for fight in fights %}
                <form action="{{ url_for('fight_save_results', event_id=fight.event_id, fight_id=fight.id) }}" method="POST">
                    <div class="schedule-item">
                        <div class="item-title fw-bold fs-6 fst-italic">
                            <small>#{{ loop.index }} <span class="text-muted">[{{ fight.id }}]</span></small>
                        </div>
                        {% if not fight.save_fight_at %}
                            <button type="submit" class="btn-save-fight">Save</button>
                        {% endif %}
                        {% set disabled_inputs = 'disabled' if fight.save_fight_at else '' %}
                        <div class="result-area row">
                            <div class="btn-group btn-group-sm col-12 px-1" role="group">
                                <input type="radio" class="btn-check" name="result[{{ fight.id }}]" id="red-corner-{{ fight.id }}" value="red" required {{ disabled_inputs }} {% if fight.winner_id == fight.red_corner_id %} checked {% endif %}>
                                <label class="btn btn-outline-danger no-border" for="red-corner-{{ fight.id }}">Red corner</label>

                                <input type="radio" class="btn-check" name="result[{{ fight.id }}]" id="draw-{{ fight.id }}" value="draw" required {{ disabled_inputs }} {% if fight.winner_id == None and fight.loser_id == None and fight.save_fight_at %} checked {% endif %}>
                                <label class="btn btn-outline-dark no-border" for="draw-{{ fight.id }}">Draw</label>

                                <input type="radio" class="btn-check" name="result[{{ fight.id }}]" id="blue-corner-{{ fight.id }}" value="blue" required {{ disabled_inputs }} {% if fight.winner_id == fight.blue_corner_id %} checked {% endif %}>
                                <label class="btn btn-outline-primary no-border" for="blue-corner-{{ fight.id }}">Blue corner</label>
                            </div>

                            <div class="col-6 small">
                                <div class="form-check small">
                                    <input class="form-check-input" type="radio" name="method[{{ fight.id }}]" id="tko-{{ fight.id }}" value="tko" {{ disabled_inputs }} {% if fight.method == 'tko' %} checked {% endif %}>
                                    <label class="form-check-label small" for="tko-{{ fight.id }}">
                                        TKO
                                    </label>
                                </div>
                                <div class="form-check small">
                                    <input class="form-check-input" type="radio" name="method[{{ fight.id }}]" id="ko-{{ fight.id }}" value="ko" {{ disabled_inputs }} {% if fight.method == 'ko' %} checked {% endif %} required>
                                    <label class="form-check-label small" for="ko-{{ fight.id }}">
                                        KO
                                    </label>
                                </div>
                                <div class="form-check small">
                                    <input class="form-check-input" type="radio" name="method[{{ fight.id }}]" id="submission-{{ fight.id }}" value="submission" {{ disabled_inputs }} {% if fight.method == 'submission' %} checked {% endif %}>
                                    <label class="form-check-label small" for="submission-{{ fight.id }}">
                                        SUBMISSION
                                    </label>
                                </div>
                                <div class="form-check small">
                                    <input class="form-check-input" type="radio" name="method[{{ fight.id }}]" id="majdec-{{ fight.id }}" value="majority_decision" {{ disabled_inputs }} {% if fight.method == 'majority_decision' %} checked {% endif %}>
                                    <label class="form-check-label small" for="majdec-{{ fight.id }}">
                                        MAJORITY DEC
                                    </label>
                                </div>
                                <div class="form-check small">
                                    <input class="form-check-input" type="radio" name="method[{{ fight.id }}]" id="unadec-{{ fight.id }}" value="unanimous_decision" {{ disabled_inputs }} {% if fight.method == 'unanimous_decision' %} checked {% endif %}>
                                    <label class="form-check-label small" for="unadec-{{ fight.id }}">
                                        UNANIM. DEC
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <select name="round[{{ fight.id }}]" class="form-select-sm round-select" {{ disabled_inputs }} size="3" required>
                                    <option value="1" {% if fight.round == 1 %} selected {% endif %}>1st round</option>
                                    <option value="2" {% if fight.round == 2 %} selected {% endif %}>2nd round</option>
                                    <option value="3" {% if fight.round == 3 %} selected {% endif %}>3rd round</option>
                                    {% if fight.belt_dispute %}
                                        <option value="4" {% if fight.round == 4 %} selected {% endif %}>4rd round</option>
                                        <option value="5" {% if fight.round == 5 %} selected {% endif %}>5rd round</option>
                                    {% endif %}
                                </select>
                                <input type="time" class="form-control" name="time[{{ fight.id }}]" id="time-{{ fight.id }}" {{ disabled_inputs }} max="05:00" value="{{ fight.time }}">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row d-flex align-items-center justify-content-center align-items-center">
                                <div class="col-sm-1 text-end">
                                    <div class="glove red-glove pt-5">
                                        {% if fight.control == 1 %}
                                            <img src="{{ url_for('static', filename="red-selected.svg") }}" class="no-opacity no-cursor" alt="red-glove">
                                        {% else %}
                                            <img src="{{ url_for('static', filename="default.svg") }}" class="no-cursor" alt="red-glove">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-floating float-end pt-5">
                                        <h5 data-fighter-id="{{ fight.red_corner_id }}" data-bs-toggle="modal" data-bs-target="#fighterModal" class="mt-2 red fighter-link {% if fight.loser_id == fight.red_corner_id %} strikethrough-text {% endif %}">{{ fight.red_corner.name }}</h5>
                                        <div class="cartel-info float-start mt-1">
                                            <span class="cartel-red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="belt">
                                        <img src="{{ url_for('static', filename="belt.svg") }}" alt="belt" class="no-cursor {% if fight.belt_dispute == 1 %} no-opacity {% endif %}">
                                    </div>
                                    <div class="mt-1">
                                        <span class="vs">vs</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-floating float-start pt-5">
                                        <h5 data-fighter-id="{{ fight.blue_corner_id }}" data-bs-toggle="modal" data-bs-target="#fighterModal" class="mt-2 blue fighter-link {% if fight.loser_id == fight.blue_corner_id %} strikethrough-text {% endif %}">{{ fight.blue_corner.name }}</h5>
                                        <div class="cartel-info float-end mt-1">
                                            <span class="cartel-blue"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="glove blue-glove pt-5">
                                        {% if fight.control == 2 %}
                                            <img src="{{ url_for('static', filename="blue-selected.svg") }}" class="no-opacity no-cursor" alt="blue-glove">
                                        {% else %}
                                            <img src="{{ url_for('static', filename="default.svg") }}" class="no-cursor" alt="blue-glove">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                    <div class="col-sm-4 mt-2 pt-2 text-center">
                                        <h6 class="fw-bold">{{ fight.category.description }}</h6>
                                    </div>
                                </div>

                                <div class="modal fade" id="fighterModal" tabindex="-1" aria-labelledby="fighterModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="fighterModalLabel">Fighter Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" id="fighterModalBody">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const scheduleItems = document.querySelectorAll(".schedule-item");

            scheduleItems.forEach(item => {
                const drawButton = item.querySelector('input[id^="draw-"]');
                const majorityDecButton = item.querySelector('input[id^="majdec-"]');
                const unanDecButton = item.querySelector('input[id^="unadec-"]');
                const timeInput = item.querySelector('input[type="time"]');
                const methodButtons = item.querySelectorAll('input[name^="method-"]');
                const roundSelect = item.querySelector('select[name^="round["]');
                const roundOptions = roundSelect.querySelectorAll('option');

                timeInput.max = "05:00";

                drawButton.addEventListener("change", function () {
                    if (drawButton.checked) {
                        methodButtons.forEach(method => (method.checked = false));
                        const lastOption = roundOptions[roundOptions.length - 1];
                        roundSelect.value = lastOption.value;
                        timeInput.value = "05:00";
                    }
                });

                [majorityDecButton, unanDecButton].forEach(button => {
                    button.addEventListener("change", function () {
                        if (button.checked) {
                            timeInput.value = "05:00";
                        }
                    });
                });

                timeInput.addEventListener("input", function () {
                    if (timeInput.value > "05:00") {
                        timeInput.value = "05:00";
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const fighterLinks = document.querySelectorAll('.fighter-link');

            fighterLinks.forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    const fighterId = this.getAttribute('data-fighter-id');

                    axios.get(`/fighter/${fighterId}/details`)
                        .then(response => {
                            const data = response.data;

                            let fights = '';
                            for (const [key, value] of Object.entries(data.fights)) {
                                let color = value.result === 'W' ? 'table-success' : 'table-danger';
                                fights += `
                                    <tr class="${color}">
                                        <td>${value.result}</td>
                                        <td>${value.opponent_name}</td>
                                        <td>${value.category_short}</td>
                                        <td>${value.event_description.toUpperCase()}</td>
                                        <td>${value.method.toUpperCase()}</td>
                                        <td>${value.time} / ${value.round}</td>
                                    </tr>
                                `
                            }

                            document.getElementById('fighterModalBody').innerHTML = `
                                <div class="fighter-details">
                                    <h4>${data.fighter.name} <small>[${data.fighter.record.cartel} <kbd>${data.fighter.record.only_manager.cartel}</kbd>]</small></h4>
                                    <div class="info">
                                        <p><span>Age:</span> ${data.fighter.age}</p>
                                        <p><span>From:</span> ${data.fighter.from}</p>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-6">
                                            <h5>WINS</h5>
                                            <span>${data.fighter.record.only_manager.victories}</span>
                                        </div>
                                        <div class="col-6">
                                            <h5>LOSSES</h5>
                                            <span>${data.fighter.record.only_manager.defeats}</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5># Fight History</h5>
                                    <div class="row">
                                        <div class="container">
                                            <table class="table table-sm">
                                                <thead class="">
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th scope="col">Opponent</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Event</th>
                                                        <th scope="col">Method</th>
                                                        <th scope="col">Time / Round</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    ${fights}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            `;
                        })
                        .catch(error => {
                            document.getElementById('fighterModalBody').innerHTML = `
                                <div class="alert alert-danger">
                                    Erro ao carregar os dados do lutador.
                                </div>
                            `;
                            console.error('Erro:', error);
                        });
                });
            });
        });
    </script>
{% endblock %}

