{% extends "base.html" %}

{% block body%}
    <div class="container-fluid">
        <form method="post" class="mt-2 pt-2">
            {{ form.csrf_token }}
            <div>
                {{ form.description.label(class="form-label fw-bold") }}<br>
                {{ form.description(class="form-control", size="50") }}<br>
                {% for error in form.description.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}

