{% extends "base.html" %}

{% block body%}
    <style>
        .icon-ranking {
            width: 22px;
            height: 22px;
        }
    </style>

    <div class="container-fluid mt-3">
       <div class="row">
            {% for category in categories %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-center fw-bold bg-dark text-white">
                            {{ category.category }}
                        </div>
                        <table class="table table-striped">
                            {% for fighter in category.fighters %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="#" class="fighter-link" data-fighter-id="{{ fighter.id }}" data-bs-toggle="modal" data-bs-target="#fighterModal">
                                            {{ fighter.name }}
                                        </a>
                                    </td>
                                    <td>{{ fighter.record.cartel }}</td>
                                    <td>{{ fighter.ranking }}</td>
                                    <td>
                                        <small>{{ fighter.position_change }}</small>
                                        {% if fighter.position_change == 0 %}
                                            <img src="{{ url_for('static', filename="ranking-maintain.svg") }}" class="icon-ranking">
                                        {% elif fighter.position_change < 0 %}
                                            <img src="{{ url_for('static', filename="ranking-down.svg") }}" class="icon-ranking">
                                        {% else %}
                                            <img src="{{ url_for('static', filename="ranking-up.svg") }}" class="icon-ranking">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="modal fade" id="fighterModal" tabindex="-1" aria-labelledby="fighterModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="fighterModalLabel">Fighter Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="fighterModalBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename="ranking.js") }}"></script>
{% endblock %}